

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}


.navbar {
    display: flex;
    /*justify-content: space-evenly;*/
    gap: 32px;
    max-width: 70vw;
    margin: auto;
    padding: 32px;
}

.logo {
    flex: 3 1 auto;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

header {
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
}

.main {
    display: flex;
    max-width: 70vw;
    margin: auto;
    padding: 24px;
    gap: 24px;
    color: #f9faf8;
}

img {
    width: 100%;
    height: auto;
}

.main-img {
    width: 640px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 3;
}

.background {
    background-color: #1f2937;
    padding: 52px;
}

.pics {
    max-width: 70vw;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

h2 {
    text-align: center;
}

.img {
    max-width: 200px;
}

.quote {
    max-width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.quote-author {
    align-self: flex-end;
}

.quotebox {
    background-color: #e5e7eb;
}

.register {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 150px;
    background-color: #3882f6;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #f9faf8;
}

.sign-two {
    min-height: 35px;
    min-width: 100px;
    align-self: center;
    background-color: #3882f6;
    color: #f9faf8;
    border-color: #f9faf8;
    border-radius: 5px;
}

.sign-one {
    min-height: 35px;
    min-width: 100px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    border: none;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 100px;
}

.para-quote {
    font-size: 36px;
    font-weight: 50;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
}

.text {
    color: #e5e7eb;
}

.links {
    font-size: 18px;
}

.pic {
    border: 3px solid #3882f6;
    border-radius: 10px;
}
